

article{
  width: 320px;
  margin: 2rem auto;
  border: 5px solid darkblue;
  padding: 2rem;
  box-sizing: border-box;
  background-color: cyan;
}
button{
  background-color: pink;
  color: red;
  transition: background-color 1s;
}
button:hover{
  background-color: blueviolet;
}
a {
  text-decoration: none;
  color: goldenrod;
}
a:hover{
  color: yellow;
}
img{
  width: 20%;
}
smaller{
  width: 8%;
}

