.navigation{
    background-color: black;
    color: white;
    display: flex;
    justify-content:center;
    border-radius: 20px;
    
}
.button{
    list-style: none;
    gap: 1rem;
}
:hover.button{
    color: darkblue;
    outline-style: solid;
    outline-width: 1px;
    outline-color: darkblue;
    background-color: aqua;
    border-radius: 4px;
    
}